@charset "utf-8";

* {
    padding: 0;
    margin: 0;
     
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

nav {
    width: 100%;
    margin: 20px auto;  
}
 
nav ul {
    list-style: none;
    overflow: hidden;
}

nav li a {
    background: #444;
    border-right: 1px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 12.5%;
}
 
/*SMALL*/
nav small {
    color: #aaa;    
    font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    text-transform: none;
     
}

nav li a {
    background: #444;
    border-right: 1px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 12.5%;
     
    /*TRANSISTIONS*/
    -webkit-transition: background 0.5s ease;
       -moz-transition: background 0.5s ease;
         -o-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
            transition: background 0.5s ease;
}
 
/*HOVER*/
nav li a:hover {
    background: #222;
}

nav li:last-child a {
    border: none;
}

/* MEDIA QUERIES*/
@media only screen and (max-width : 2560px),
only screen and (max-device-width : 2560px){
    nav li a {
        width: 20%;
        font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
    nav li:last-child a {
    border: none;
}
     
    nav small {
        font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    }
}

@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
    nav li a {
		width: 20%;
        font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
    
	nav li:last-child a {
    border: none;
}

    nav small {
        font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    }
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
    nav li a {
		width: 20%;
        font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
    
	nav li:last-child a {
    border: none;
}

    nav small {
        font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    }
}


@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
    nav li a {
        width: 50%;
        font: 400 16px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
        padding-top: 12px;
        padding-bottom: 12px;
		font-weight: bold;
    }
     
    nav li:nth-child(even) a {
        border-right: none;
    }
     
    nav li:nth-child(5) a, nav li:nth-child(6) a {
        border-bottom: 1px solid #fff;
    }
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    nav li a {
        font: 400 14px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
}
